*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
}

.container{
    width: 1200px;
}

.section{
    margin-top: 24px;
    margin-bottom: 24px;
}
    
a{text-decoration: none;}

address{font-style: normal;}

a:hover{color:#2196F3;}

li{
    list-style: none;
    font-weight: 500px;
}

a.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
    display:flex;
    padding-left: 215px;
}

.link{
    color: #212121;
    font-weight: 500px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-ad{
    color: #212121;
    font-weight: 500px;
    line-height: 16px;
    color: #757575;
    letter-spacing: 0.02em;
}

header{
    background: #FFFFFF;
}

.studio{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.briefcase{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.mail{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tel{
    width: 118px;
    height: 16px;
    left: 1263px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.title{
    background: #2F303A;
}

.title h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;   
}

#button-index{
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.button{
    color:white;
}

.button:hover{
    color:white;
}

.attention{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.quality1{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.puntuality{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.quality2{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:#757575;
}

.planning{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; 
}

.quality3{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.technology{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.quality4{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575; 
}

.service{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
}

.working{
    width: 380;
    height: 294;
}

.texting{
    width: 380;
    height: 294;
}

.graphic{
    width: 380;
    height: 294;
}

#team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

#team{
    background: #F5F4FA;
}

.address{
    background: #2F303A;
}

.logo-f{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.mexico{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail-footer{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer{
    font-weight: 400;
    line-height: 24px;    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}