body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    size: 400px;
}

ul{
    list-style: none;
}

.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;


    text-align: right;
    text-decoration: none;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.navigation{
    position: absolute;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.studio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #212121;
}

.briefcase{
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #212121;
}

.contacts{
    position: absolute;
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #212121;
}

.logo-footer{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2218px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-decoration: none;
    letter-spacing: 0.03em;  

    color: #2196F3;
}
